.aliExpressSearchBar {
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.1);
  border-radius: 6px;
  border: none;

  .aliExpressLogo {
    padding: 1rem;
    margin: 0 auto;
  }

  .aliSearchFormCol {
    .aliExpressText {
      margin: 0 auto;
      padding: 2rem 5rem 0;
      background: #ff1616;
      border-top-right-radius: 4px;
      width: 100%;
    }
  }


  .ali_express_search_form {
    padding: 0 2rem 1.2rem;
    background: #ff1616;
    border-bottom-right-radius: 4px;
  }

  .form-control {
    height: 40px;
    padding: 10px 9px 10px 15px;
    border: 1px solid #751f8a;
    font-size: 0.9rem;
    border-radius: 4px;
  }

  .btn-search {
    background-color: #751f8a;
    color: #fff;
    font-size: 1.2rem;

    &:hover {
      background-color: #751f8a;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0 2rem;
    }
  }
}
