:root {
  --theme-color: #ef2c34;
  --theme-icon-color: #ef2c34;
  --theme-hover-color: #ef2c34;
  --button-bg-color: #ef2c34;
  --button-bg-hover-color: #ef2c34;
  --button-font-color: #fff;
  --button-font-hover-color: #fff;

  --select-text-bg-color: #2196f3;
  --select-text-font-color: #fff;

  --link-color: #555555;
  --link-hover-color: #ef2c34;

  --product-title-link-color: #333;
  --product-title-link-hover-color: #ef2c34;


  --footer-bg-color: #ef2c34;
  --footer-text-color: #ef2c34;
  --footer-icon-color: #777;
  --footer-hover-color: #c5c5c5;
}


$baseColor: #ef2c34;
$baseFontColor: #fff;

$baseHoverColor: #cd6110;
$baseHoverFontColor: #fff;

$LinkColor: #ef2c34;


$selectAttributeBorderColor: #ef2c34;