.header-8 {
  .header-top {
    font-weight: 400;
    font-size: 1.4rem;
    color: #f4e8dd;
    background-color: #cc9966;
    margin-bottom: 0;

    .container {
      &:after {
        display: none;
      }
    }

    .container-fluid {
      &:after {
        display: none;
      }
    }

    .header-dropdown {
      > a {
        &:hover {
          color: #fff;
        }

        &:focus {
          color: #fff;
        }
      }
    }

    .top-menu {
      > li {
        > a {
          &:hover {
            color: #fff;
          }

          &:focus {
            color: #fff;
          }
        }
      }
    }
  }

  .header-menu {
    margin-top: 0;

    ul {
      a {
        &:not(:focus) {
          &:not(:hover) {
            color: #666;
          }
        }
      }
    }
  }

  .header-dropdown {
    padding-top: .75rem;
    padding-bottom: .75rem;

    + {
      .header-dropdown {
        margin-left: 2rem;
      }
    }

    > a {
      text-transform: capitalize;
      padding-right: 2rem;

      &::after {
        font-size: 1rem;
        margin-top: -.5rem;
      }
    }

    > span {
      text-transform: capitalize;
      padding-right: 2rem;

      &::after {
        font-size: 1rem;
        margin-top: -.5rem;
      }
    }
  }

  .top-menu {
    text-transform: capitalize;

    li {
      + {
        li {
          margin-left: 2.1rem;
        }
      }
    }
  }

  .header-middle {
    border-bottom: none;
    margin-bottom: 0;
  }

  .main-nav {
    margin-left: 0;
    margin-right: 3rem;
  }

  .menu {
    > li {
      > a {
        padding-top: 3.45rem;
        padding-bottom: 3.45rem;
      }
    }

    ul {
      margin-top: 0;
    }

    .megamenu {
      margin-top: 0;
    }
  }

  .header-search {
    .form-control {
      background-color: #f4f4f4;

      &::placeholder {
        font-style: italic;
      }
    }

    .header-search-wrapper {
      border-color: #f4f4f4;
    }
  }

  .cart-dropdown {
    .dropdown-menu {
      margin-top: 0;
    }
  }

  .compare-dropdown {
    .dropdown-menu {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .header-8 {
    .header-top {
      .top-menu {
        a {
          &:hover {
            color: #fff;
          }

          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header-8 {
    .top-menu {
      ul {
        a {
          &:not(:hover) {
            &:not(:focus) {
              color: #666;
            }
          }
        }
      }

      &:not(.top-link-menu) {
        ul {
          margin-top: 0;
        }

        > li {
          padding-right: 2rem;

          &::after {
            font-size: 1rem;
            margin-top: -.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-8 {
    .header-search {
      .header-search-wrapper {
        display: flex;
      }
    }

    .main-nav {
      margin-right: 26rem;
    }
  }
}

.header-8 {
  .header-top {
    color: #f4e8dd;
    background-color: #c96;
  }
}
